body{
    font-family: 'Tilt Prism', cursive;
background: pink;
}

.header_div
{
    background: palegoldenrod;
    color: dodgerblue;
}

.header_div h4{
    font-family: 'Lobster', cursive;
    color:gray;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: sans-serif;
    margin-top: 30px;
    font-size: 11px;
    font-weight: bold;
}

.developer{

    position:fixed;
    color:black;
bottom: 0;
width:100%;
font-size: 18px;
background-color: white;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149);
}